node_modules/
dist/
.env
*.log

# Terraform
Terraform/.terraform/
Terraform/*.tfstate
Terraform/*.tfstate.backup
Terraform/.terraform.lock.hcl
Terraform/crash.log

# Docker
*.tar

# OS
.DS_Store
Thumbs.db